body {
  background: url('../img/fondo.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.container,
.container-fluid {
    background: transparent !important;
}
.card {
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
}

.card-body {
    background: transparent !important;
}
.navbar {

    background: rgba(248, 233, 233, 0.2) !important;
    backdrop-filter: blur(10px);
}

/* usuariosadmin */

#tablaUsuariosDataTable {
    background: transparent !important;
    color: #f0e9e9;
}
#tablaUsuariosDataTable_wrapper {
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

/* asignacionadmin */
#tablaAsignacionDataTable {
    background: transparent !important;
    color: #f0e9e9;
}

#tablaAsignacionDataTable_wrapper {
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

/* reportesadmin */

#tablaReporteClienteDataTable_wrapper {
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}


#tablaReporteClienteDataTable {
    background: transparent !important;
    color: #f0e9e9;
}

#tablaReporteAdminDataTable_wrapper {
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}